name: Build Typst document
on:
  push:
    tags:
      - "v*.*.*"

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Build calendar file
        uses: lvignoli/typst-action@main
        with:
          source_file: template/main.typ

      - name: Rename main.pdf
        run: mv template/main.pdf calendar.pdf

      - name: Upload PDF file
        uses: actions/upload-artifact@v6
        with:
          name: PDF
          path: calendar.pdf

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          name: "${{ github.ref_name }}"
          files: calendar.pdf
